name: Build and Deploy Django Project

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build and push Docker image
        run: |
          cd pure_plate
          docker build -t pureplate-backend_init .
          docker tag pureplate-backend_init ${{ secrets.DOCKER_USERNAME }}/pureplate-backend:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/pureplate-backend:latest

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.EC2_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            docker pull ${{ secrets.DOCKER_USERNAME }}/pureplate-backend:latest
            docker stop django_pure_plate || true
            docker rm django_pure_plate || true
            docker run -d --name django_pure_plate -p 80:80 -e DJANGO_SETTINGS_MODULE=pure_plate.settings ${{ secrets.DOCKER_USERNAME }}/pureplate-backend:latest
          EOF
